PORT=8080
PAGINATOR_LIMIT_DEFAULT=10
LOG_FORMAT=text

FRONTEND_URL=http://localhost:3000
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=viandas_db
DB_SSLMODE=disable
